@media screen and (min-width: 560px) {
  body {
    background-color: green;
  }
  .bar {
    display: none;
  }
  #navbar .right .nav-wrapper {
    display: flex;
    padding: 10px;
    margin-top: 10px;
  }
  #navbar .right ul li {
    padding: 10px 10px;
  }
}
